<!DOCTYPE html>
<html> 
    <head>
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>

        <div id="app">
            <h1>Hello Vue Forms</h1>
            <label for="name">Please Enter Your Name:</label>
            <input v-model="name" id="name">

            <p v-if="name.length > 2">  <!--validating 2+ characters-->
            Your name is {{ name }}
            <button v-on:click="clear">Clear Input</button>
            </p> 
                <!--v-else must go right after v-if !!!-->
            <p v-else>
                -Waiting for user input-
            </p>
        </div>

        <script>
            let app = Vue.createApp({   //create app
                data() {
                    return {
                        name: '' // empty string
                    }
                },
                methods: {
                    clear() {
                        this.name = ''
                    }
                }
            })
           
            app.mount('#app')
        </script>

    </body>

</html>